<a href="https://colab.research.google.com/github/Supaporn-Bututham/data_viz_2022/blob/main/DataPrepeocessing_18_03_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
%cd /content/drive/MyDrive/GoogleDataStudio

/content/drive/MyDrive/GoogleDataStudio

In [ ]:
!ls

 21082562_DataPreprocessesing01_แก้ค่าMissing.ipynb
'27082562_DataProcessing_ต่อ_การทำBining Mean_ทำไม่ได้อาจารย์เฉลย .ipynb'
 28082562_DataIngration_การรวมตาราง.ipynb
 3_Data_clean.csv
 3Data_clean_new.csv
 Clean_3_Data_clean_csv_file.ipynb
 DataPrepeocessing.ipynb
 Data-preprocessing-2_การเปลี่ยนTypeของของข้อมูล_การเลือกเรคอดตามเงื่อนไข.ipynb
 random_search_click.csv
 random_search_request.csv
 random_w_restaurant.csv
 search_click_clean.csv
 search_click.csv
 search_request_clean.csv
 search_request.csv
 w_restaurant_clean.csv
 w_restaurant.csv

In [ ]:
import pandas as pd
import numpy as np

# **START CLEAN DATASET**

## **search_click**

In [ ]:
search = pd.read_csv('search_click.csv')
print(search.shape)
search.head()

(1048575, 6)

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True

In [ ]:
search.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   click_timestamp   1048575 non-null  object
 1   search_id         1048554 non-null  object
 2   business_id       1048223 non-null  float64
 3   display_position  1048575 non-null  int64
 4   time_diff_nanos   1048575 non-null  float64
 5   ads               1048575 non-null  bool
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 41.0+ MB

> ### **Check Missing Value**

In [ ]:
search.isnull().any()

click_timestamp     False
search_id            True
business_id          True
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [ ]:
## --** ต้องใช้ business_id เป็น Primary Key สำหรับ merged กับตารางหลัก 
search2 = search.dropna(subset=['business_id']).reset_index(drop=True)   
## --** ใช้ search_id ต้องใช้เป็น Foreign Key สำหรับ merged ตารางย่อย 
search3 = search2.dropna(subset=['search_id']).reset_index(drop=True)
##ถ้ามี Missing ก็ทำไม่ได้ จะทำให้ row นั้นมีฟีลด์ที่หายไปด้วย 
print(f'Shape:{search3.shape}\n')
print('*'*80)
print(search3.isnull().any(), '\n')
print('*'*120)
search3.head()

Shape:(1048206, 6)

********************************************************************************
click_timestamp     False
search_id           False
business_id         False
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

************************************************************************************************************************

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True

In [ ]:
###** -- display_position รหัสสถานที่ == 106 #รหัสแต่ละอัน ไม่รู้มีที่ไหนบ้าง  
print(f'จำนวน display position :{len(set(search3.display_position))}')

จำนวน display position :106

In [ ]:
search3['display_position'].value_counts

<bound method IndexOpsMixin.value_counts of 0          0
1          0
2          0
3          1
4          1
          ..
1048201    8
1048202    8
1048203    8
1048204    8
1048205    8
Name: display_position, Length: 1048206, dtype: int64>

In [ ]:
search3.to_csv('search_click_clean.csv', encoding='utf-8')

> ### **search_request**

In [ ]:
## Read .csv
search_req = pd.read_csv('search_request.csv')
print(search_req.shape,'\n')
print('*'*120)
print(search_req.isnull().any())
print('*'*200)
search_req.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(10004357, 10)

************************************************************************************************************************
Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                    True
user_id              True
session_id          False
number_of_result    False
lat                  True
long                 True
dtype: bool
********************************************************************************************************************************************************************************************************

,Unnamed: 0,search_id,search_timestamp,user_agent,q,user_id,session_id,number_of_result,lat,long
0,0,683de889-f923-494e-9d46-44a3d67b7259,2018-06-14 12:34:35.449,"Wongnai/8.17.3 rv:8.17.3.3921 (iPhone5,4; iOS;...",NaN,NaN,5lqjjikta19d296mo7g2h1k86p,18,12.634739,101.463177
1,1,4a811230-ffa4-4631-a4c8-5d0394137d02,2018-06-14 17:11:19.469,Mozilla/5.0 (iPhone; CPU iPhone OS 11_4 like M...,NaN,NaN,1r3iotmp0o9slom91stdt9vivc,10,14.800882,102.533777
2,2,7ad6ee8e-438e-4bea-9183-74dcef9e358e,2018-06-14 13:22:31.736,Mozilla/5.0 (Linux; Android 7.0; SAMSUNG SM-J7...,NaN,NaN,5ci1eo4v5u9dha4ppgu94ue7p6,8,13.73826,100.371405
3,3,0c17a5f5-fa89-40f4-ae94-a8659268f827,2018-06-02 12:37:27.331,Mozilla/5.0 (Linux; Android 7.1.1; SM-N950F Bu...,NaN,NaN,39n535qgje9kpojp0grhfj8umk,12,12.666877,101.860838
4,4,6870dc3a-5602-44fc-80ed-df0a7783df9d,2018-06-02 11:19:22.404,Mozilla/5.0 (iPhone; CPU iPhone OS 11_3_1 like...,NaN,NaN,5pa03h6lj691to60erver1l8o4,14,12.237242,99.879998

In [ ]:
len(set(search_req['search_id'].tolist()))

10004357

In [ ]:
### Drop lat, long **--## ถ้าไม่มีก็ทำ map ไม่ได้  *- ไม่สามารถ Visulization แต่ละพื้นที่ได้
search_req2 = search_req.dropna(subset=['lat', 'long','q']).reset_index(drop=True)
print(search_req2.shape)
print('*'*120)
print(search_req2.isnull().any())

(402309, 10)
************************************************************************************************************************
Unnamed: 0          False
search_id           False
search_timestamp    False
user_agent          False
q                   False
user_id              True
session_id          False
number_of_result    False
lat                 False
long                False
dtype: bool

In [ ]:
#search_req2['user_id'].tolist()

In [ ]:
## Drop Columns ที่จะไม่ใช้ในการ Visulizastion 
del search_req2['user_id']  ##1.
del search_req2['Unnamed: 0']  ##2. 
print(search_req2.isnull().any())
print('*'*120)
search_req2.head()  ## จำนวน Row == 402309

search_id           False
search_timestamp    False
user_agent          False
q                   False
session_id          False
number_of_result    False
lat                 False
long                False
dtype: bool
************************************************************************************************************************

,search_id,search_timestamp,user_agent,q,session_id,number_of_result,lat,long
0,3ecf13ba-be4d-4eb9-9374-a1cca09d1614,2018-06-22 11:26:40.836,"Wongnai/8.17.3 rv:8.17.3.3921 (iPhone8,4; iOS;...",ผัดไท,1m91ertp1g9a09agkl7dqtej30,17,12.451104,102.248522
1,02fedb5c-c9cd-46d7-9354-7613ecb7cfdd,2018-06-22 12:22:17.031,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",vt แหนมเนือง,4db1ugh8nj95totfl6dd4q4rb9,14,13.720904,100.527299
2,e215d487-0450-4794-830a-ecfc0ab6493b,2018-06-22 12:15:24.769,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",kuppadeli,4orpg6839u93baoa36aicq78iq,9,13.720835,100.527152
3,3a69e702-e54b-497c-9b8f-c3991d4c02ff,2018-06-22 12:12:24.091,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",ข้าวซอยลำดวน,4orpg6839u93baoa36aicq78iq,9,13.720882,100.527238
4,03cb2585-738e-4000-afed-e976d123a145,2018-06-22 12:04:43.977,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",kagonoya,4orpg6839u93baoa36aicq78iq,8,13.721063,100.527258

> #### Create columns date

In [ ]:
date_new = []

for i in range(len(search_req2)):
    date = search_req2['search_timestamp'][i]	
    date = date[:10]
    date_new.append(date)

idx = 2  ##**กำหนดแทรกที่ Columns ที่ 2  -- ชื่อ "search_date"  
search_req2.insert(loc=idx, column='search_date', value=date_new)
search_req2.head()

,search_id,search_timestamp,search_date,user_agent,q,session_id,number_of_result,lat,long
0,3ecf13ba-be4d-4eb9-9374-a1cca09d1614,2018-06-22 11:26:40.836,2018-06-22,"Wongnai/8.17.3 rv:8.17.3.3921 (iPhone8,4; iOS;...",ผัดไท,1m91ertp1g9a09agkl7dqtej30,17,12.451104,102.248522
1,02fedb5c-c9cd-46d7-9354-7613ecb7cfdd,2018-06-22 12:22:17.031,2018-06-22,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",vt แหนมเนือง,4db1ugh8nj95totfl6dd4q4rb9,14,13.720904,100.527299
2,e215d487-0450-4794-830a-ecfc0ab6493b,2018-06-22 12:15:24.769,2018-06-22,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",kuppadeli,4orpg6839u93baoa36aicq78iq,9,13.720835,100.527152
3,3a69e702-e54b-497c-9b8f-c3991d4c02ff,2018-06-22 12:12:24.091,2018-06-22,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",ข้าวซอยลำดวน,4orpg6839u93baoa36aicq78iq,9,13.720882,100.527238
4,03cb2585-738e-4000-afed-e976d123a145,2018-06-22 12:04:43.977,2018-06-22,"Wongnai/10.0 (iPhone10,6; iOS; 11.4; en_TH@cal...",kagonoya,4orpg6839u93baoa36aicq78iq,8,13.721063,100.527258

In [ ]:
search_req2.isnull().any()

search_id           False
search_timestamp    False
search_date         False
user_agent          False
q                   False
session_id          False
number_of_result    False
lat                 False
long                False
dtype: bool

In [ ]:
search_req2.to_csv('search_request_clean.csv', encoding='utf-8')

### **Merge Dataframe** 
> ***search_request + search_click***


- ใช้ search_id เป็น Key เพื่อเชื่อมตาราง

In [ ]:
# merged_search3 = pd.merge(search_req2, search3, how="outer", on=["search_id", "search_id"])
# print(merged_search3.shape)
# print('*'*120)
# merged_search3.head()

In [ ]:
# merged_search3 = search3.merge(search_req,how='left',left_on='search_id',right_on='search_id')
# merged_search3.head()

In [ ]:
merged_search = search_req2.merge(search3, how='inner', on='search_id')
print(merged_search.shape, '\n')
print('*'*120)
merged_search.head()

(26778, 14)

************************************************************************************************************************

,search_id,search_timestamp,search_date,user_agent,q,session_id,number_of_result,lat,long,click_timestamp,business_id,display_position,time_diff_nanos,ads
0,465dca62-ac52-42e9-9c7b-f28845671c64,2018-06-20 16:07:29.216,2018-06-20,"Wongnai/8.17.5 (iPhone10,6; iOS; 11.4; en_TH@c...",ชานม,63aqja0qpc8aco6ls91a17nt3m,18,13.731447,100.569463,20:34.6,30001.0,0,7.853940e+11,False
1,4c190356-6433-43fd-89a4-bef1ec1a2c46,2018-06-01 16:26:55.143,2018-06-01,"Wongnai/8.17.1 (iPhone9,4; iOS; 11.3.1; th_TH;)",ทิพย์โอชา,3l3tjtc4ud81cq2b48u4atpvj0,12,16.399029,101.124708,27:05.2,308136.0,0,1.010046e+10,True
2,d476cba0-feef-404c-bd18-b598cca89ec9,2018-06-01 17:47:04.816,2018-06-01,okhttp/2.5.0;WongnaiAndroid 4.4;samsung;SM-N900,เซ็นทรัลพระราม9,535vdnpt8t807o66p5qlv91eln,11,13.760898,100.569429,47:08.9,287787.0,1,4.114686e+09,False
3,d476cba0-feef-404c-bd18-b598cca89ec9,2018-06-01 17:47:04.816,2018-06-01,okhttp/2.5.0;WongnaiAndroid 4.4;samsung;SM-N900,เซ็นทรัลพระราม9,535vdnpt8t807o66p5qlv91eln,11,13.760898,100.569429,47:21.8,90089.0,2,1.692545e+10,False
4,c7dcf523-31d4-4da9-9b00-309c68cd9125,2018-06-15 14:23:38.514,2018-06-15,"Wongnai/8.17.3 rv:8.17.3.3921 (iPhone10,5; iOS...",Tenjo,2dkim5lpb9ucrjp01qe65cniq,10,13.650411,100.683212,23:46.1,46545.0,5,7.544787e+09,False

In [ ]:
merged_search.isnull().any()

search_id           False
search_timestamp    False
search_date         False
user_agent          False
q                   False
session_id          False
number_of_result    False
lat                 False
long                False
click_timestamp     False
business_id         False
display_position    False
time_diff_nanos     False
ads                 False
dtype: bool

In [ ]:
merged_search.to_csv('df_merged_search.csv', encoding='utf-8')

## **w_restaurant**

In [ ]:
w_restaurant = pd.read_csv('w_restaurant.csv')
print(w_restaurant.shape,'\n')
print('*'*120)
print(w_restaurant.isnull().any())
print('*'*200)
w_restaurant.head()

(246847, 32)

************************************************************************************************************************
id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool
********************************************************************************************************************************************************************************************************

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,นันท์คาราโอเกะ,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN

> #### Columns 
- zipcode
- number_of_chains
- number_of_bookmarks
- parking
- credit_card_accepted
- bookable
- best_of_wongnai
- wifi
- number_of_seats
- music_venue
- hotel_restaurant
- pet_friendly
- delivery

-- จัดการ Missing Value  = 'ไม่ระบุ'

> #### **Print column name with missing values**

In [ ]:
col_mis = w_restaurant.columns[w_restaurant.isnull().any()].tolist()
print(len(col_mis))
col_mis

17

['zipcode',
 'number_of_chains',
 'number_of_bookmarks',
 'price_range',
 'avg_price',
 'parking',
 'credit_card_accepted',
 'good_for_groups',
 'good_for_kids',
 'bookable',
 'best_of_wongnai',
 'wifi',
 'number_of_seats',
 'music_venue',
 'hotel_restaurant',
 'pet_friendly',
 'delivery']

In [ ]:
col_mis = ['zipcode',
 'number_of_chains',
 'number_of_bookmarks',
 #'price_range',
 #'avg_price',
 'parking',
 'credit_card_accepted',
 'good_for_groups',
 'good_for_kids',
 'bookable',
 'best_of_wongnai',
 'wifi',
 'number_of_seats',
 'music_venue',
 'hotel_restaurant',
 'pet_friendly',
 'delivery']

for c in col_mis:
  w_restaurant[c] = w_restaurant[c].fillna('ไม่ระบุ')

print('*'*120)
print(w_restaurant.isnull().any())

************************************************************************************************************************
id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                    False
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks        False
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                    False
credit_card_accepted       False
good_for_groups            False
good_for_kids              False
bookable                   False
best_of_wongnai            False
wifi                       False
number_of_seats            False
music_venue                False
hotel_restaurant           False
pet_friendly               False
delivery                   False
dtype: bool

> #### **Columns ที่มี Value เป็น 0, 1** --> เปลี่ยนเป็น  
- 0 คือ 'no'
- 1 คือ 'yes'

In [ ]:
col_bol = ['credit_card_accepted', 'good_for_groups', 'good_for_kids', 'hotel_restaurant', 'bookable', 'music_venue',
            'pet_friendly', 'delivery']
print(f'จำนวน Columns :{len(col_bol)}')
print('*'* 100)

for c in col_bol:
    print(w_restaurant[c].value_counts())
    print('*'* 100)

จำนวน Columns :8
****************************************************************************************************
ไม่ระบุ    154746
0.0         66324
1.0         25777
Name: credit_card_accepted, dtype: int64
****************************************************************************************************
ไม่ระบุ    195383
1.0         47745
0.0          3719
Name: good_for_groups, dtype: int64
****************************************************************************************************
ไม่ระบุ    200465
1.0         42211
0.0          4171
Name: good_for_kids, dtype: int64
****************************************************************************************************
ไม่ระบุ    236930
1.0          5976
0.0          3941
Name: hotel_restaurant, dtype: int64
****************************************************************************************************
ไม่ระบุ    211422
1.0         22379
0.0         13046
Name: bookable, dtype: int64
****************************************************************************************************
ไม่ระบุ    241360
0.0          3633
1.0          1854
Name: music_venue, dtype: int64
****************************************************************************************************
ไม่ระบุ    238510
0.0          7090
1.0          1247
Name: pet_friendly, dtype: int64
****************************************************************************************************
ไม่ระบุ    236796
1.0          7673
0.0          2378
Name: delivery, dtype: int64
****************************************************************************************************

In [ ]:
## -- 0 == 'no', 1 == 'yes'

for c in col_bol:
  for i in range(len(w_restaurant)):
      if w_restaurant[c][i] == 0:
        w_restaurant[c][i] = 'no'
      elif w_restaurant[c][i] == 1:
          w_restaurant[c][i] = 'yes'
    
  print(w_restaurant[c].value_counts())
  print('*'* 100)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

ไม่ระบุ    154746
no          66324
yes         25777
Name: credit_card_accepted, dtype: int64
****************************************************************************************************
ไม่ระบุ    195383
yes         47745
no           3719
Name: good_for_groups, dtype: int64
****************************************************************************************************
ไม่ระบุ    200465
yes         42211
no           4171
Name: good_for_kids, dtype: int64
****************************************************************************************************
ไม่ระบุ    236930
yes          5976
no           3941
Name: hotel_restaurant, dtype: int64
****************************************************************************************************
ไม่ระบุ    211422
yes         22379
no          13046
Name: bookable, dtype: int64
****************************************************************************************************
ไม่ระบุ    241360
no           3633
yes          1854
Name: music_venue, dtype: int64
****************************************************************************************************
ไม่ระบุ    238510
no           7090
yes          1247
Name: pet_friendly, dtype: int64
****************************************************************************************************
ไม่ระบุ    236796
yes          7673
no           2378
Name: delivery, dtype: int64
****************************************************************************************************

> #### **Columns 'parking'**

ที่จอดรถ
- 0 คือ ไม่มีที่จอดรถ
- 1 คือ จอดข้างทาง
- 2 คือ valet
- 3 คือ มีที่จอดรถ

In [ ]:
dict_st = {0:'ไม่มีที่จอดรถ', 1:'จอดรถข้างทาง', 2:'valet', 3:'มีที่จอดรถ' ,'ไม่ระบุ':'ไม่ระบุ'}

for i in range(len(w_restaurant)):
    parking = w_restaurant['parking'][i]
    w_restaurant['parking'][i] = dict_st[parking]

print('*'* 100)
print(w_restaurant['parking'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

****************************************************************************************************
ไม่ระบุ          107371
มีที่จอดรถ        74130
จอดรถข้างทาง      49914
ไม่มีที่จอดรถ     14444
valet               988
Name: parking, dtype: int64

> #### **Columns 'best_of_wongnai'**

สถานะ users' choice
- 0 คือ ไม่เป็นร้าน users' choice
- 2018 คือ เป็นร้าน users' choice ปี 2018

In [ ]:
for i in range(len(w_restaurant)):
    if w_restaurant['best_of_wongnai'][i] == 2018:
       w_restaurant['best_of_wongnai'][i] = 'เป็นร้าน users choice ปี 2018'
    elif w_restaurant['best_of_wongnai'][i] == 0:
         w_restaurant['best_of_wongnai'][i] = 'ไม่เป็นร้าน users choice'

print('*'* 100)
print(w_restaurant['best_of_wongnai'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

****************************************************************************************************
ไม่ระบุ                          246169
เป็นร้าน users choice ปี 2018       595
ไม่เป็นร้าน users choice             83
Name: best_of_wongnai, dtype: int64

> #### **Columns 'wifi'**

การให้บริการ Wi-Fi
- 0 คือ ไม่มี Wi-Fi บริการ
- 1 คือ มี Wi-Fi บริการฟรี
- 2 คือ มี Wi-Fi บริการ

In [ ]:
dict_st = {0:'ไม่มี Wi-Fi บริการ', 1:'Wi-Fi บริการฟรี', 2:'มี Wi-Fi บริการ', 'ไม่ระบุ':'ไม่ระบุ'}

for i in range(len(w_restaurant)):
    wifi = w_restaurant['wifi'][i]
    w_restaurant['wifi'][i] = dict_st[wifi]

print('*'* 100)
print(w_restaurant['wifi'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

****************************************************************************************************
ไม่ระบุ               196309
Wi-Fi บริการฟรี        29431
ไม่มี Wi-Fi บริการ     17133
มี Wi-Fi บริการ         3974
Name: wifi, dtype: int64

> #### **Columns 'number_of_seats'**

การให้บริการ Wi-Fi
จำนวนที่นั่ง
- 0 คือ ไม่มีที่นั่ง/จัดส่งเท่านั้น
- 1 คือ ไม่เกิน 10 ที่นั่ง
- 2 คือ 11-40 ที่นั่ง
- 3 คือ 41-80 ที่นั่ง
- 4 คือ 81-150 ที่นั่ง
- 5 คือ มากกว่า 150 ที่นั่ง
- 11 คือ 1-10 ที่นั่ง
- 12 คือ 11-25 ที่นั่ง
- 13 คือ 26-50 ที่นั่ง
- 14 คือ มากกว่า 50 ที่นั่ง

In [ ]:
dict_st = {0:'ไม่มีที่นั่ง/จัดส่งเท่านั้น', 1:'ไม่เกิน 10 ที่นั่ง', 2:'11-40 ที่นั่ง', 3:'41-80 ที่นั่ง', 4:' 81-150 ที่นั่ง',
              5:' มากกว่า 150 ที่นั่ง', 11:'1-10 ที่นั่ง', 12:'11-25 ที่นั่ง', 13:'26-50 ที่นั่ง', 14: 'มากกว่า 50 ที่นั่ง', 
                'ไม่ระบุ':'ไม่ระบุ'}

for i in range(len(w_restaurant)):
    #w_restaurant['number_of_seats'][i] = dict_sr[w_restaurant['number_of_seats'][i]]
    nofs = w_restaurant['number_of_seats'][i]
    w_restaurant['number_of_seats'][i] = dict_st[nofs]

print('*'* 100)
print(w_restaurant['number_of_seats'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

****************************************************************************************************
ไม่ระบุ                        188780
11-40 ที่นั่ง                   29231
41-80 ที่นั่ง                   10106
ไม่เกิน 10 ที่นั่ง               6746
ไม่มีที่นั่ง/จัดส่งเท่านั้น      3842
 81-150 ที่นั่ง                  3401
 มากกว่า 150 ที่นั่ง             2172
1-10 ที่นั่ง                     1584
11-25 ที่นั่ง                     682
26-50 ที่นั่ง                     193
มากกว่า 50 ที่นั่ง                110
Name: number_of_seats, dtype: int64

> #### **Columns 'domain_id'**

กลุ่มธุรกิจ
- 1 คือ ร้านอาหาร
- 2 คือ ร้านเสริมสวย
- 3 คือ ที่พัก
- 4 คือ สถานที่ท่องเที่ยว

In [ ]:
dict_st = {1:'ร้านอาหาร', 2:'ร้านเสริมสวย', 3:'ที่พัก', 4:'สถานที่ท่องเที่ยว'}

for i in range(len(w_restaurant)):
    mid = w_restaurant['domain_id'][i]
    w_restaurant['domain_id'][i] = dict_st[mid]

print('*'* 100)
print(w_restaurant['domain_id'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

****************************************************************************************************
ร้านอาหาร            227902
ร้านเสริมสวย          11602
ที่พัก                 4836
สถานที่ท่องเที่ยว      2507
Name: domain_id, dtype: int64

> #### **Columns 'closed'**

สถานะการให้บริการของธุรกิจ
- 0 คือ ร้านเปิดให้บริการอยู่
- 1 คือ ร้านปิดให้บริการแล้ว (permanently closed)

In [ ]:
dict_st = {0:'เปิดให้บริการอยู่', 1:'ปิดให้บริการแล้ว (permanently closed)'}

for i in range(len(w_restaurant)):
    close = w_restaurant['closed'][i]
    w_restaurant['closed'][i] = dict_st[close]

print('*'* 100)
print(w_restaurant['closed'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

****************************************************************************************************
เปิดให้บริการอยู่                        243434
ปิดให้บริการแล้ว (permanently closed)      3413
Name: closed, dtype: int64

> #### **Columns 'new_open'**

สถานะเป็นร้านเปิดใหม่
- 0 คือ ไม่เป็นร้านเปิดใหม่
- 1 คือ เป็นร้านเปิดใหม่

In [ ]:
dict_st = {0:'ไม่เป็นร้านเปิดใหม่', 1:'เป็นร้านเปิดใหม่'}

for i in range(len(w_restaurant)):
    new_open = w_restaurant['new_open'][i]
    w_restaurant['new_open'][i] = dict_st[new_open]

print('*'* 100)
print(w_restaurant['new_open'].value_counts())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

****************************************************************************************************
ไม่เป็นร้านเปิดใหม่    235192
เป็นร้านเปิดใหม่        11655
Name: new_open, dtype: int64

> #### **Columns 'avg_price'** 
- ราคาเฉลี่ย (บาท)

In [ ]:
def groupMeanValue(group):
    w_restaurant['avg_price'] = w_restaurant['avg_price'].fillna(w_restaurant['avg_price'].mean())
    return group

In [ ]:
w_restaurant.groupby("city_name").transform(groupMeanValue).inplace=True

In [ ]:
print(w_restaurant['avg_price'].isnull().any())

False

In [ ]:
#w_restaurant['avg_price'].tolist()

In [ ]:
# df_city = w_restaurant[['city_name', 'avg_price']]
# df_city0 = df_city.dropna(subset=['avg_price']).reset_index(drop=True)   
# print(df_city0.shape)
# df_city0.head()

In [ ]:
# lst_city = list(set(df_city0['city_name']))
# print(len(lst_city))
# lst_city

In [ ]:
# lst_mean = list()
# for c in lst_city:
#     city_i = df_city0[df_city0['city_name'] == c]
#     m_city_i = city_i['avg_price'].mean()
#     lst_mean.append(m_city_i)

# print(len(lst_mean))
# lst_mean

> #### **Columns 'price_range'** 
ช่วงราคา
- 1 คือ ต่ำกว่า 100 บาท
- 2 คือ 101-250 บาท
- 3 คือ 251-500 บาท
- 4 คือ 501-1000 บาท
- 5 คือ มากกว่า 1000 บาท

In [ ]:
def groupMeanValue2(group):
    w_restaurant['price_range'] = w_restaurant['price_range'].fillna(w_restaurant['price_range'].median())
    return group

In [ ]:
w_restaurant.groupby("city_name").transform(groupMeanValue2).inplace=True

In [ ]:
print(w_restaurant['price_range'].isnull().any())

False

In [ ]:
print('*'*120)
print(w_restaurant.isnull().any())

************************************************************************************************************************
id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                    False
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks        False
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                False
avg_price                  False
parking                    False
credit_card_accepted       False
good_for_groups            False
good_for_kids              False
bookable                   False
best_of_wongnai            False
wifi                       False
number_of_seats            False
music_venue                False
hotel_restaurant           False
pet_friendly               False
delivery                   False
dtype: bool

### ***search_request + search_click + w_rastaurant***

In [ ]:
w_restaurant2 = w_restaurant.reset_index(drop=True)

In [ ]:
w_restaurant2.to_csv('w_restaurant_clean.csv', encoding='utf-8')

### **Merge Dataframe** 
> ***search_request + (search_click + w_rastaurant)***

- ใช้ business_id เป็น Key เพื่อเชื่อมตาราง

In [ ]:
merged_wongnai = merged_search.merge(w_restaurant2,how='left',left_on='business_id',right_on='id')
print(merged_wongnai.shape, '\n')
print('*'*120)
merged_wongnai.head()

(26778, 46)

************************************************************************************************************************

,search_id,search_timestamp,search_date,user_agent,q,session_id,number_of_result,lat,long,click_timestamp,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,465dca62-ac52-42e9-9c7b-f28845671c64,2018-06-20 16:07:29.216,2018-06-20,"Wongnai/8.17.5 (iPhone10,6; iOS; 11.4; en_TH@c...",ชานม,63aqja0qpc8aco6ls91a17nt3m,18,13.731447,100.569463,20:34.6,...,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่มี Wi-Fi บริการ,11-40 ที่นั่ง,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,yes
1,4c190356-6433-43fd-89a4-bef1ec1a2c46,2018-06-01 16:26:55.143,2018-06-01,"Wongnai/8.17.1 (iPhone9,4; iOS; 11.3.1; th_TH;)",ทิพย์โอชา,3l3tjtc4ud81cq2b48u4atpvj0,12,16.399029,101.124708,27:05.2,...,yes,yes,no,ไม่ระบุ,ไม่มี Wi-Fi บริการ,11-40 ที่นั่ง,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
2,d476cba0-feef-404c-bd18-b598cca89ec9,2018-06-01 17:47:04.816,2018-06-01,okhttp/2.5.0;WongnaiAndroid 4.4;samsung;SM-N900,เซ็นทรัลพระราม9,535vdnpt8t807o66p5qlv91eln,11,13.760898,100.569429,47:08.9,...,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
3,d476cba0-feef-404c-bd18-b598cca89ec9,2018-06-01 17:47:04.816,2018-06-01,okhttp/2.5.0;WongnaiAndroid 4.4;samsung;SM-N900,เซ็นทรัลพระราม9,535vdnpt8t807o66p5qlv91eln,11,13.760898,100.569429,47:21.8,...,yes,yes,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ
4,c7dcf523-31d4-4da9-9b00-309c68cd9125,2018-06-15 14:23:38.514,2018-06-15,"Wongnai/8.17.3 rv:8.17.3.3921 (iPhone10,5; iOS...",Tenjo,2dkim5lpb9ucrjp01qe65cniq,10,13.650411,100.683212,23:46.1,...,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ,ไม่ระบุ

In [ ]:
merged_wongnai.isnull().any()

search_id                  False
search_timestamp           False
search_date                False
user_agent                 False
q                          False
session_id                 False
number_of_result           False
lat                        False
long                       False
click_timestamp            False
business_id                False
display_position           False
time_diff_nanos            False
ads                        False
id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                    False
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains           False
number_of_bookmarks        False
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                False
avg_price                  False
parking                    False
credit_card_accepted       False
good_for_groups            False
good_for_kids              False
bookable                   False
best_of_wongnai            False
wifi                       False
number_of_seats            False
music_venue                False
hotel_restaurant           False
pet_friendly               False
delivery                   False
avg_price_new              False
dtype: bool

In [ ]:
merged_wongnai.to_csv('df_wongnai.csv', encoding='utf-8')